<!doctype html>
<div class="container jumbotron">
  <div class="row">
    <div class="col">

      <label> Prototipo </label>

      <input type="text" class="form-control" (input)="onUpdate($event)">

      <!-- <input
  type="text"
  class="form-control"
  [(ngModel)]="name"> -->

      <!-- <img src="assets/CC.jpg" alt="CC" width="400" height="225"> -->
      <br>


      <!-- <p *ngIf="eval; else inv">{{ name }} </p> -->
      <!-- <ng-template #inv>
    <p>invisível</p>
  </ng-template> -->

      <!-- <p *ngIf=""></p> -->
    </div>

    <div class="col">
      <button class="btn btn-primary" (click)="onCreate()">
        Hello darkness!
      </button>
    </div>
  </div>
</div>
