<header>
  <nav class="navbar justify-content-center" style="background-color: #1A1B1D">
    <!-- <a class="navbar-brand">PLACE HOLDER</a> -->
    <form class="form-inline ">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="radio" name="options" id="option1" autocomplete="off"> Etapa 1
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="options" id="option2" autocomplete="off"> Etapa 2
        </label>
      </div>
    </form>
  </nav>
</header>

<main>

  <div class="jumbotron">
    <h1 class="display-3">Escolha o que deseja saber.</h1>
    <select name="text">
      <option value="">. . .</option>
      <option value="" (click)="setSelector1()">C  </option>
      <option value="" (click)="setSelector2()">Makefile  </option>
    </select>


    <!-- CÓDIGO PARA A LINGUAGEM C -->
    <div *ngIf="sel === 1">
      <hr class="my-4">
      <form>
        <p class="lead">Escolha:</p>
        <div class="form-group">
          <select name="text">
            <option *ngFor="let current of options" (click)="onSelect(current)"> {{ current.desc }} </option>
          </select>
        </div>
        <div class="form-group ">
          <label for="varName">Nome da variável: </label>
          <input type="password" class="form-control" id="varName" placeholder=". . .">
        </div>
      </form>
    </div>

    <!-- CÓDIGO PARA O MAKEFILE -->
    <div *ngIf="sel === 2">
    </div>


    <hr class="my-4">
    <!-- AQUI APARECE O CÓDIGO GERADO  -->
    <form>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Código gerado:</label>
        <textarea class="form-control text-color-primary" rows="7" style="background-color: #1A1B1D; color: #00FFC4" readonly>{{ current }}</textarea>
      </div>
    </form>
  </div>

  <!-- <div class="jumbotron">
      <h1 class="display-4">Etapa 2!</h1>
      <p class="lead">PLACE HOLDER PLACE HOLDER PLACE HOLDER PLACE HOLDER PLACE HOLDER PLACE HOLDER</p>
      <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="#" role="button">BOTÃO ALEATÓRIO</a>
    </div> -->
</main>
