<!doctype html>

<nav class="navbar" style="background-color: #ffbf80">
  <a class="navbar-brand">PLACE HOLDER</a>
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button" (click)="setSelector1()">ETAPA 1</button>
    <button class="btn btn-outline-success" type="button" (click)="setSelector2()">ETAPA 2</button>
    <button class="btn btn-outline-success" type="button" (click)="setSelector3()">ETAPA 3</button>
    <button class="btn btn-outline-success" type="button" (click)="setSelector4()">ETAPA 4</button>
  </form>
</nav>

<div *ngIf="sel === 1">
  <div class="jumbotron">
    <h1 class="display-4">Etapa 1!</h1>
    <p class="lead">Escolha o que deseja saber.</p>
    <div>
      <select name="text">
        <option *ngFor="let current of options" (click)="onSelect(current)"> {{ current.desc }} </option>
      </select>
      <hr class="my-4">

      <form>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Código gerado:</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" readonly>{{ current }}</textarea>
        </div>
      </form>
    </div>

  </div>
</div>

<div *ngIf="sel === 2">
  <div class="jumbotron">
    <h1 class="display-4">Etapa 2!</h1>
    <p class="lead">PLACE HOLDER PLACE HOLDER PLACE HOLDER PLACE HOLDER PLACE HOLDER PLACE HOLDER</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="#" role="button">BOTÃO ALEATÓRIO</a>
  </div>
</div>

<div *ngIf="sel == 3">
  <div class="jumbotron">
    <h1 class="display-4">Etapa 3!</h1>
    <p class="lead">TÁ SAINDO DA JAULA O MONSTRO!!</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="#" role="button">HEHEHE HIHIHI</a>
  </div>
</div>

<div *ngIf="sel === 4">
  <div class="jumbotron">
    <h1 class="display-4">Etapa 4!</h1>
    <p class="lead">
      Pelos poderes da varinha mágica, que a árvore volte a ser a Simples Camponesa de Nobre Coração que vai Todos os Dias ao Bosque Recolher Lenha. Parangaricutirimírruaru
    </p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="#" role="button">MWAHAHAHAHAHA</a>
  </div>
</div>
